.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 14px;
  justify-content: center;
  padding: 16px;
  max-width: 40%;
}

.card_img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card_title {
  margin: 0;
  padding-top: 16px;
  word-break: break-all;
}
