.body_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: #eef0ef;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.buttons_container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 32px 0px 0px 0px;
}

.categories_filter_container {
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
  width: 100%;
  align-items: flex-start;
}

.content_wrapper {
  padding: 0px 32px;
}

.input_container {
  display: flex;
}

.panel_input {
  border-radius: 6px;
  height: 40px;
  width: 217px;
  border: 1px solid #e2e2e2;
  padding-left: 6px;
  margin-bottom: 16px;
  font-size: large;
}
