.body_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    #fff12e 0%,
    #dd87b8 20%,
    #6a41c2 40%,
    #272768 80%,
    #100055 100%
  );
}

.cards_container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.buttons_container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 32px 0px 0px 0px;
  margin-bottom: 32px;
}

.categories_filter_container {
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
  width: 100%;
  align-items: flex-start;
}

.content_wrapper {
  padding: 0px 32px;
}

.input_container {
  display: flex;
}

.panel_input {
  border-radius: 6px;
  height: 40px;
  width: 217px;
  border: 1px solid #e2e2e2;
  padding-left: 6px;
  margin-bottom: 16px;
  font-size: large;
}
